<h1>Bienvenue, merci de valider votre e-mail.</h1>

<p>
   Bonjour et bienvenue, merci de cliquer sur le lien suivant pour valider votre courriel  <br><br>
    <a href="{{ signedUrl }}">Confirmer mon email</a>.
    Nous vous rappelons que cet email expirera dans  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientôt!
</p>
